<ul class="breadcrumb">
    <li><a href="#/enfants/">Enfants</a></li>
    <li class="active">{{enfant.prenom}} {{enfant.nom}}</li>
</ul>
<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Données personnelles</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <img alt="User Pic"
                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                    class="img-circle">
                </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table ng-if="dataLoaded" class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td>
                                    <span  class="editField"  field="enfant.nom" update-method="updateEnfant()">{{enfant.nom || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Prénom</td>
                                <td><span class="editField" field="enfant.prenom"
                                update-method="updateEnfant()">{{enfant.prenom || 'vide'}}</span></td>
                            </tr>
                            <tr>
                                <td>Date de naissance</td>
                                <td><span class="editField" field="enfant.birthday"
                                update-method="updateEnfant()">{{enfant.birthday || 'vide'}}.</span></td>
                            </tr>
                            <tr>
                                <td>Adresse</td>
                                <td><span class="editField" field="enfant.adresse"
                                    update-method="updateEnfant()">{{enfant.adresse || 'vide'}}</span>
                                    <span class="editField" field="enfant.codePostal"
                                    update-method="updateEnfant()">{{enfant.codePostal || 'vide'}}</span>
                                    <span class="editField" field="enfant.ville"
                                    update-method="updateEnfant()">{{enfant.ville || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Numéro de sécurité sociale</td>
                                <td><span class="editField" field="enfant.secuSociale"
                                    update-method="updateEnfant()">{{enfant.secuSociale || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Aptitudes</td>
                                <td><span class="editField" edit-type="textarea" field="enfant.aptitudes"
                                    update-method="updateEnfant()">{{enfant.aptitudes || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Difficultées</td>
                                <td><span class="editField" edit-type="textarea" field="enfant.difficultes"
                                    update-method="updateEnfant()">{{enfant.difficultes || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Commentaires</td>
                                <td><span class="editField" edit-type="textarea" field="enfant.commentaires"
                                    update-method="updateEnfant()">{{enfant.commentaires || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Problèmes de santé</td>
                                <td><span class="editField" edit-type="textarea" field="enfant.problemeSante"
                                    update-method="updateEnfant()">{{enfant.problemeSante || 'vide'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <tr>
                                    <td>Sexe</td>
                                    <td>Masculin</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
    <h3 class="panel-title">Responsable</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6" ng-repeat="responsableEnfant in responsableEnfants">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{responsableEnfant.idresponsable.nom}} {{responsableEnfant.idresponsable.prenom}} -  {{responsableEnfant.idtypeResponsable.libelle}}
                    <div class="pull-right">
                        <a href="#/responsable/{{responsableEnfant.idresponsable.idresponsable}}"><span class="glyphicon glyphicon-share"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        {{responsableEnfant.idresponsable.email}}
                        <a target="_blank" ng-if="responsableEnfant.idresponsable.email" href="mailto:{{responsableEnfant.idresponsable.email}}" class="pull-right" ><span class="glyphicon glyphicon-envelope"></span></a>
                    </div>
                    <div>
                        {{responsableEnfant.idresponsable.telFixe}}
                        <a ng-if="responsableEnfant.idresponsable.telFixe" href="tel:{{responsableEnfant.idresponsable.telFixe}}" class="pull-right"><span class=" glyphicon glyphicon-earphone"></span></a>
                    </div>
                    <div>
                        {{responsableEnfant.idresponsable.telPort}}
                        <a ng-if="responsableEnfant.idresponsable.telPort" href="tel:{{responsableEnfant.idresponsable.telPort}}" class="pull-right"><span class=" glyphicon glyphicon-earphone"></span></a>
                    </div>
                    <div class="pull-right">
                        <br>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1">
                            Action
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">  <a class="btn" ng-click="deleteResponsableEnfant(responsableEnfant)"><span class="glyphicon glyphicon-trash"></span></a></li>
                                <li role="presentation" class="text-center">    <a href="#/responsable/{{responsableEnfant.idresponsable.idresponsable}}">Détails </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-info" type="button" ng-click="openResponsableModal()" >Création responsable</button>
    </div>
    <br>
    <form ng-submit="ajoutResponsableEnfant()">
        <select class="form-control" ng-model="responsable"
            ng-options="responsable as responsable.prenom for responsable in responsables.items">
        </select>
        <select class="form-control" ng-model="typeResponsable"
            ng-options="typeResponsable as typeResponsable.libelle for typeResponsable in typeResponsables">
        </select>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" ng-click="">Ajouter responsable</button>
        </div>
    </form>
</div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
    <h3 class="panel-title">Parcours</h3>
</div>
<div class="panel-body">
    <table class="table table-responsive table-hover">
        <caption>Parcours</caption>
        <thead>
            <tr>
                <th><a href="" ng-click="predicate = '-idanneeScolaire.libelle'; reverse=!reverse">Année</a></th>
                <th>Classe</th>
                <th>Etablissement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="anneEnfant in anneesEnfant | orderBy:predicate:reverse">
                <td>{{anneEnfant.idanneeScolaire.libelle}}</td>
                <td>{{anneEnfant.idClasse.libelle}}</td>
                <td>{{anneEnfant.idetablissement.libelle}}</td>
                <td>
                    <button  class="btn btn-danger btn-xs" type="button"
                    ng-click="deleteAnneeEnfant(anneEnfant)">
                    <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td ng-hide="showNewAnnee" class="text-center" colspan="3" rowspan="" headers="blabla">
                    <button ng-click="showNewAnnee = true" class="btn btn-primary">Ajout année</button>
                </td>
            </tr>
            <tr  ng-class="{selected: removeHover}"   ng-show="showNewAnnee">
                <td>
                    <select class="form-control" ng-model="newAnnee.annee"
                        ng-options="annee as annee.libelle for annee in annees">
                    </select>
                </td>
                <td>
                    <select class="form-control" ng-model="newAnnee.classe"
                        ng-options="classe as classe.libelle for classe in classesEcole">
                    </select>
                </td>
                <td >
                    <select class="form-control" ng-model="newAnnee.etablissement"
                        ng-options="etablissement as etablissement.libelle for etablissement in etablissements">
                    </select>
                </td>
                <td>
                    <button  class="btn btn-danger btn-xs" type="button"
                    ng-click="showNewAnnee = false"
                    ng-mouseenter="removeHover = true"
                    ng-mouseleave="removeHover = false"
                    ><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            <tr class="text-center"  ng-show="showNewAnnee">
                <td></td>
                <td></td>
                <td><button ng-click="openEtablissementModal()" class="btn btn-info" type="button">Ajout etablissement</button></td>
                <td></td>
            </tr>
            <tr ng-class="{selected: removeHover}" class="text-center" ng-show="showNewAnnee">
                <td colspan="3">
                    <button class="btn btn-primary" ng-click="ajoutAnneEnfant()" type="button">Ajouter</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>