
<ul class="breadcrumb">
    <li class="active">personnels</li>
</ul>

<nav class="navbar navbar-info" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#/personnels/add">Ajout personnel</a></li>
            </ul>
        </div>
    </div>
</nav>



<table class="table">
    <thead>
        <th>Prénom</th>
        <th>Nom</th>
        <th></th>
        <th></th>
    </thead>
    <tr ng-repeat="personnel in personnels" >
        <td>
            {{personnel.prenom}}
        </td>
        <td>
            {{personnel.nom}}
        </td>
        <td>
            <a class="btn btn-info" href="#/personnel/{{personnel.idpersonnel}}">Détails</a> 
        </td>
        <td>
            <a class="btn btn-danger" ng-click="deletePersonnel(personnel)">Suppression</a>
        </td>
    </tr>
</table>
