<div>

  <ul class="breadcrumb">
    <li><a href="#/personnels/">Personnels</a></li>
    <li class="active">{{personnel.prenom}} {{personnel.nom}}</li>
  </ul>

  <div class="col-md-offset-3 col-md-6">


    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{personnel.prenom}} {{personnel.nom}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
            src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
            class="img-circle">
          </div>

          <div class=" col-md-9 col-lg-9 ">
            <table ng-if="dataLoaded" class="table table-user-information">
              <tbody>
                <tr>
                  <td>Nom</td>
                  <td>
                   <span class="editField" field="personnel.nom" update-method="updatePersonnel()">{{personnel.nom || 'vide'}}</span>
                 </td>
               </tr>
               <tr>
                <td>Prénom</td>
                <td>
                  <span class="editField" field="personnel.prenom" update-method="updatePersonnel()">{{personnel.prenom || 'vide'}}</span>
                </td>
              </tr>

              <tr>
                <td>Fonction</td>
                <td>
                  <span class="editField" field="personnel.fonction" update-method="updatePersonnel()">{{personnel.fonction || 'vide'}}</span>
                </td>
              </tr>

              <tr>
                <td>Adresse</td>
                <td>
                  <span class="editField" field="personnel.adresse" update-method="updatePersonnel()">{{personnel.adresse || 'vide'}}</span>
                  <span class="editField" field="personnel.codepostal" update-method="updatePersonnel()">{{personnel.codepostal || 'vide'}}</span>
                  <span class="editField" field="personnel.ville" update-method="updatePersonnel()">{{personnel.ville || 'vide'}}</span>

                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                 <span class="editField" field="personnel.email" update-method="updatePersonnel()">{{personnel.email || 'vide'}}</span>
                 <a target="_blank" href="mailto:{{personnel.email}}" class="pull-right" ><span class="glyphicon glyphicon-envelope"></span></a>
               </td>
             </tr>

             <tr>
               <td>Téléphone fixe</td>
               <td>
                <span class="editField" field="personnel.telFixe" update-method="updatePersonnel()">{{personnel.telFixe || 'vide'}}</span> 
                <a href="tel:{{personnel.telFixe}}" class="pull-right"><span class=" glyphicon glyphicon-earphone"></span></a>
                </td>
            </tr>

              <tr>
               <td>Téléphone portable</td>
               <td>
                <span class="editField" field="personnel.telMobile" update-method="updatePersonnel()">{{personnel.telMobile || 'vide'}}</span> 
                <a href="tel:{{personnel.telMobile}}" class="pull-right"><span class=" glyphicon glyphicon-earphone"></span></a>
                </td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="panel-footer">

  </div>

</div>
</div>
</div>



