<div>

  <ul class="breadcrumb">
    <li><a href="#/personnels/">Personnels</a></li>
    <li class="active">{{personnel.prenom}} {{personnel.nom}}</li>
  </ul>

  <div class=" ">


    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{personnel.prenom}} {{personnel.nom}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
            src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
            class="img-circle">
          </div>

          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Nom</td>
                  <td>
                   <span class="editField" field="personnel.nom" update-method="updatePersonnel()">{{personnel.nom}}</span>
                 </td>
               </tr>
               <tr>
                <td>Prénom</td>
                <td>
                  <span class="editField" field="personnel.prenom" update-method="updatePersonnel()">{{personnel.prenom}}</span>
                </td>
              </tr>

              <tr>
                <tr>
                  <td>Gender</td>
                  <td>Male</td>
                </tr>
                <tr>
                  <td>Adresse</td>
                  <td>
                    <span class="editField" field="personnel.adresse" update-method="updatePersonnel()">{{personnel.adresse}}</span>
                    <span class="editField" field="personnel.codePostale" update-method="updatePersonnel()">{{personnel.codePostale}}</span>
                    <span class="editField" field="personnel.ville" update-method="updatePersonnel()">{{personnel.ville}}</span>

                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>
                    <a href="mailto:info@support.com">
                     <span class="editField" field="personnel.mail" update-method="updatePersonnel()">{{personnel.mail}}</span>
                   </a>
                 </td>
               </tr>
               <td>Phone Number</td>
               <td>
                <span class="editField" field="personnel.telephone" update-method="updatePersonnel()">{{personnel.telephone}}</span>
              </td>

            </tr>

          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="panel-footer">

  </div>

</div>
</div>
</div>



