<div class="panel panel-default">
    <div class="panel-heading"><a href="#/responsables/">Responsables</a> / {{responsable.prenom}} {{responsable.nom}}
    </div>
</div>

<div class=" ">


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{responsable.prenom}} {{responsable.nom}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                    src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                                                    class="img-circle"></div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Nom</td>
                            <td>{{responsable.nom}}</td>
                        </tr>
                        <tr>
                            <td>Prénom</td>
                            <td>{{responsable.prenom}}</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>Gender</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{{responsable.adresse}} {{responsable.codePostale}} {{responsable.ville}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:info@support.com">{{responsable.mail}}</a></td>
                        </tr>
                        <td>Phone Number</td>
                        <td>{{responsable.telephone}}
                        </td>

                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="panel-footer">

        </div>

    </div>
</div>
</div>
</div>


