 <ul class="breadcrumb">
    <li class="active">Responsables</li>
</ul>

<nav class="navbar navbar-info" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#/responsables/add">Ajout responsable</a></li>
            </ul>
        </div>
    </div>
</nav>

<form ng-submit="recherche()">
   <div class="input-group">
    <input class="form-control" ng-model="search" placeholder="Recherche"></input>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Recherche</button>
  </span>
</div>
</form>

<pagination total-items="pagination.totalItems" ng-change="pageChanged()" items-per-page="pagination.rpp" ng-model="pagination.currentPage"></pagination>
<p class="text-center">{{pagination.totalItems}} résultats</p>
<table class="table table-responsive">
    <thead>
        <th>Prénom</th>
        <th>Nom</th>
        <th></th>
        <th></th>
    </thead>
    <tr ng-repeat="responsable in responsables.items" >
        <td>
            {{responsable.prenom}}
        </td>
        <td>
            {{responsable.nom}}
        </td>
        <td>
            <a class="btn btn-info" href="#/responsable/{{responsable.idresponsable}}">Détails</a> 
        </td>
        <td>
            <a class="btn btn-danger" ng-click="deleteResponsable(responsable)">Suppression</a>
        </td>
    </tr>
</table>

<pagination total-items="pagination.totalItems" ng-change="pageChanged()" items-per-page="pagination.rpp" ng-model="pagination.currentPage"></pagination>
